<div class="ui large segment"  *ngIf="article"> 
  <div class="field" >
    Article Title: {{article.title}}
  </div> 
  <div class="field">
    Article Link: <a href="{{article.link}}">{{article.link}}</a>
  </div> 
  <div class="field">
    User Text: {{article.text}}
  </div> 
  <div class="field">
    Subverse: {{article.subverse}}
  </div> 
  <div class="field">
    Votes: {{article.votes}}
  </div> 
</div> 
<br/><br/> 

<div class="ui large segment">
Add comment 
<form class="form ui large segment" >
  <textarea rows="10" cols="10" #comment>

  </textarea>
  <!-- added this button -->
  <button (click)="addComment(comment)"  
          class="ui positive right floated button">  
    Submit link  
  </button>  
</form> 
</div> 

<app-comment-tree *ngIf="article" [commentTree]="article.comments"></app-comment-tree>

