<div class="ui large segment"> 
<div class="field"  *ngIf="article">
  Article Title: {{article.title}}
</div> 
<div class="field"  *ngIf="article">
  Article Link: <a href="{{article.link}}">{{article.link}}</a>
</div> 
<div class="field"  *ngIf="article">
  User Text: {{article.text}}
</div> 
<div class="field"  *ngIf="article">
  Subverse: {{article.subverse}}
</div> 
<div class="field"  *ngIf="article">
  Votes: {{article.votes}}
</div> 
</div> 
<br/><br/> 

<div class="ui large segment">
Add comment 
<form class="form ui large segment" >
  <textarea rows="10" cols="10" #comment>

  </textarea>
  <!-- added this button -->
  <button (click)="addComment(comment)"  
          class="ui positive right floated button">  
    Submit link  
  </button>  
</form> 
</div> 

<app-comment-tree *ngIf="article" [commentTree]="article.comments"></app-comment-tree>

