<table style="width:100%; margin:auto"> <!--padding set in css file-->
  <tr>
    <td>
      <div *ngIf="isMod && article && article.islocked==0">
        <button (click)="LockThread()" class="ui button positive"  style="float:left"> Lock Thread</button>
      </div> 
      <div *ngIf="isMod && article && article.islocked==1">
        <button (click)="UnlockThread()" class="ui button negative"  style="float:left">Unlock Thread</button>
      </div> 

      <div *ngIf="isMod && article && article.isstickied==0">
        <button (click)="StickyThread()" class="ui button positive"  style="float:right">Sticky Thread</button>
      </div> 
      <div *ngIf="isMod && article && article.isstickied==1">
        <button (click)="UnstickyThread()" class="ui button negative"  style="float:right">Unsticky Thread</button>
      </div>
    </td>
  </tr>

  <tr>
    <td> 
      <div class="ui large segment"  *ngIf="article"> 
        <div class="field">
          <b>{{article.title}}</b>
        </div>
        <div class="field" >
          Posted {{article.time_ago}}
          <a href (click)="voteUp(upvote)" *ngIf="user?.isAuthenticated">
            <i class="arrow up icon" #upvote [ngClass]="{'circle' : article.userVote > 0}"></i>
          </a>

          <a href (click)="voteDown(downvote)" *ngIf="user?.isAuthenticated"> 
            <i class="arrow down icon" #downvote [ngClass]="{'circle' : article.userVote < 0}"></i>
          </a>

          <i class="trophy icon"></i> {{article.votes}}
        </div> 
        <div class="field">
          Article Link: <a href="{{article.domain()}}">{{article.link}}</a>
        </div> 
        <div class="field">
          User Text: {{article.text}}
        </div> 
        <div class="field">
          Subverse: <a href="http://allverse.co/s/{{article.subverse}}">{{article.subverse}}</a>
        </div> 

      </div> 
    </td>
  </tr> 

  <tr>
    <td>
      <div class="ui large segment" *ngIf="user && article && user.isAuthenticated && article.islocked==0">
      Add comment 
      <form class="form ui large segment" >
        <textarea rows="5" cols="100"  #comment>

        </textarea>
        <!-- added this button -->
        <br/> 
        <button (click)="addComment(comment)" style="float:left"  
                class="ui positive right floated button">  
          Add Comment
        </button>  
      </form> 
      </div> 
    </td>
  </tr>
</table>

<br/><br/> 



<app-comment-tree *ngIf="article && article.comments.length > 0" [commentTree]="article.comments"></app-comment-tree>

