<div *ngIf="!comment.deleted" style="border-left: 1px dotted gray">
  <div>
    <span (click)="collapse = !collapse">[{{collapse ? '+' : '-'}}]</span> 
    {{comment.userName}}
    <span class="time">{{comment.time_ago}}</span>
  </div>
  <div class="comment-tree">
    <div [hidden]="collapse">
      <p class="comment-text" [innerHTML]="comment.content"></p>
      <div class="reply">
          <a href="#" (click)="showReplyForm(replyform)">Reply</a> 
          
          <form #replyform style="display: none">
            <textarea id="reply" cols="20" rows="5" #replybox></textarea> 
            <button (click)="addReply(replyform, replybox)">Submit Reply</button>
          </form>
          
      </div> 
      <ul class="subtree">
        <li *ngFor="let subComment of comment.comments"> 
          <app-comment [comment]="subComment"></app-comment>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="comment.deleted">
  <div class="deleted-meta">
    <span class="collapse">[deleted]</span> | Comment Deleted
  </div>
</div>