<div *ngIf="comment.deleted==0" class="segment ui">
  <div>
    <span (click)="collapse = !collapse">[{{collapse ? '+' : '-'}}]</span> 
    {{comment.userName}}
    <span class="time">{{comment.time_ago}}</span>
  </div>
  <div class="comment-tree">
    <div [hidden]="collapse">

    <ul class="ui big horizontal list voters">
      <li class="item">
        Votes: {{comment.votes}} 
      </li>
      <li class="item" *ngIf="user">
        <a href (click)="voteUp(upvote)">
          <i class="arrow up icon" #upvote [ngClass]="{'circle' : comment.userVote > 0}"></i>
          </a>
      </li>
      <li class="item" *ngIf="user"> 
        <a href (click)="voteDown(downvote)"> 
          <i class="arrow down icon" #downvote [ngClass]="{'circle' : comment.userVote < 0}"></i>
        </a>
      </li>
      <li *ngIf="isMod || user.name == comment.userName">
        <button (click)="DeleteComment()" >Delete</button>
      </li>
    </ul>

      <p class="comment-text" [innerHTML]="comment.content"></p>
      <div class="reply" *ngIf="user && user.isAuthenticated">
          <button (click)="showReplyForm(replyform)" class="ui button">Reply</button> 
          
          <form #replyform style="display: none">
            <textarea id="reply" cols="1" rows="1" #replybox style="width:500px;height:100px"></textarea> <br/>
            <button (click)="addReply(replyform, replybox)">Submit Reply</button>
          </form>
          
      </div> 
      <ul class="subtree">
        <li *ngFor="let subComment of comment.comments"> 
          <app-comment [comment]="subComment"></app-comment>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="comment.deleted==1">
  <div class="deleted-meta">
    <span class="collapse">[deleted]</span> | Comment Deleted
  </div>
</div>
