@{
    ViewData["Title"] = "Home Page";
}
<br/><br/> 
  <div class="ui main text container">
    <app-root>
       <div class="alert alert-info" role="alert">
          <h3>Loading...</h3>
       </div>    
    </app-root> <!-- <--- Our app loads here! -->
  </div>

@section Scripts {
    <script>
        System.config({
            packages: {
                'app': { defaultExtension: 'js' },
                'lib': { defaultExtension: 'js' },
            },
        });

        System.import('app/bundle').then(null, console.error.bind(console));
    </script>
}