<div  *ngIf="article">

  <div class="four wide column center aligned votes">
    <div class="ui statistic">
      <div class="value">
        {{ article.votes }}
      </div>
      <div class="label">
        Points
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <a class="ui large header" href="{{ article.link }}">
      {{ article.title }}
    </a>
    <div class="subverse">{{ article.subverse }}</div> 
    <div class="meta">({{article.domain()}})</div>
    <ul class="ui big horizontal list voters">
      <li class="item" *ngIf="user">
        <a href (click)="voteUp(upvote)">
          <i class="arrow up icon" #upvote [ngClass]="{'circle' : article.userVote > 0}"></i>
          </a>
      </li>
      <li class="item" *ngIf="user"> 
        <a href (click)="voteDown(downvote)">
          <i class="arrow down icon" #downvote [ngClass]="{'circle' : article.userVote < 0}"></i>
          
        </a>
      </li>
      <li class="item">
        <a href="/a/{{article.id}}">Comments</a> 
      </li> 
    </ul>
  </div>

</div>