
<button (click)="becomeMod()" class="ui positive right floated button" *ngIf="user && isModButtonVisible">
  Become Mod! 
</button> 

<button #btnSub (click)="toggleSubscribe(btnSub)" class="ui positive right floated button" *ngIf="user">
  Subscribe
</button> 

<button (click)="toggleForm()" class="ui positive right floated button" *ngIf="user">
  Add Article
</button> 

<div *ngIf="user">
  Sub mods are: 
  <ul>
      <li *ngFor="let mod of mods">
        {{mod.userName}}
        <div *ngIf="mod.userName==user.name">
            <button (click)="toggleModSettings()">Mod Settings</button>
            <div *ngIf="showModSettings">
              
                Invite User <input type="text" #inputAddUser/>
                <button (click)="addModUser(inputAddUser) ">Add Mod</button> 

             
            </div>
        </div>

      </li> 
  </ul>
</div>

<form #inputarticle class="ui large form segment" *ngIf="user" [hidden]="!isFormVisible">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>  <!-- changed -->
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink> <!-- changed -->
  </div>
  <div class="field">
    <label for="text">Text:</label>
    <textarea name="text" cols="10" rows="5" #newtext></textarea> <!-- changed -->
  </div>

  <!-- added this button -->
  <button (click)="addArticle(newtitle, newlink, newtext)"  
          class="ui positive right floated button">  
    Submit link  
  </button>  

</form>

<div class="ui grid posts">
  <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article">
  </app-article>
</div>

<button #loadmorearticles (click)="LoadMoreArticles()">Load More Articles</button> 